<!DOCTYPE html>
<html>
    <head>
        <title>Tech Blog</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="/dashboard">Dashboard</a></li>
                    {{#if isLoggedin}}
                        <li class="nav-item"><button id="logout">Logout</button></li>
                        <script src="/js/logout.js"></script>
                    {{else}}
                        <li class="nav-item"><a href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </nav>
            <h1>{{heading}}</h1>
        </header>
        {{{body}}}
    </body>
</html>
