{{> post-display post}}

<h3>Comments</h3>
<ul id="comments" class="list-group">
    {{#each post.comments as |comment|}}
    {{> comment-display}}
    {{/each}}
</ul>
{{#if isLoggedin}}
<form id="comment-form">
    <textarea class="form-control" name="comment"></textarea>
    <button class="btn btn-primary">Submit</button>
</form>
<script src="/js/submit-comment.js"></script>
{{/if}}
