<form id="create-post-form">
    <h2>Create Post</h2>
    
    <div class="form-item">
        <label for="title">Title</label>
        <input name="title" />
    </div>
    <div class="form-item">
        <label for="text">Content</label>
        <textarea name="text"></textarea>
    </div>
    <button>Create</button>
</form>

<script src="/js/create-post.js"></script>
