{{> post-display post}}
<ul class="list-group">
    {{#each post.comments as |comment|}}
    {{> comment-display}}
    {{/each}}
</ul>
{{#if isLoggedin}}
<form id="comment-form">
    <textarea name="comment"></textarea>
    <button>Submit</button>
</form>
<script src="/js/submit-comment.js"></script>
{{/if}}
