.post {
    margin: 20px 0;
}

.post header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    margin-bottom: 20px;
    padding: 15px;
    justify-content: space-between;
}

.post .comment-link {
    margin: 40px;
}
